BODY, BUTTON
{
	font-family: 'Montserrat';
	margin: 0;
}
SECTION
{
	padding: 4.9em;
	text-align: center;
}
H1
{
	text-transform: uppercase;
}
SECTION H1
{
	font-size: 3em;
	letter-spacing: 0.1em;
	margin: 0 auto;
	border: 10px solid;
}
SECTION P
{
	line-height: 2;
}
INPUT[type="text"]
{
	padding: 1em;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 0.5em;
}
BUTTON:hover
{
	cursor: pointer;
}
.hidden
{
	display: none;
}
.normal
{
	background-color: #1C1C1C;
	color: #FFFFFF;
}
.error
{
	background-color: #F31616;
}
.btn
{
	width: auto;
	height: auto;
	padding: 1em;
	background-color: rgba(68, 197, 207, 1);
	color: white;
	border-radius: 5px;
	border: 0px;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
	margin: 0 0.2em;
}
.btn:hover
{
	background-color: rgba(146, 220, 226, 0.992);
}
